.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   background-color: rgb(0, 123, 205);
   border-style: ridge;
   border-color: rgb(20, 34, 240);
}
#btn-warning{
    width:100px;
    height:100px;
    font-size:50px;
}

